<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coming Soon - Private Web Scraping</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  </head>

  <body>
		<div class="jumbotron text-xs-center">
		  <h1 class="display-3">Thank You!</h1>
		  <p class="lead">Your request has been submitted. You will shortly receive a link in your mail box for results.
		  <br/><br/><br/><strong>The unique request id is: {{unique_id}}</strong></p><br/><br/>
		  <hr>
		  <p class="lead">
			<a class="btn btn-primary btn-sm" href="http://127.0.0.1:5001/demo_site" role="button">Continue to homepage</a>
		  </p>
		</div>
  </body>
</html>